# .NET
bin/
obj/
*.user
*.suo
*.pdb
*.db
*.db-journal
*.sln.docstates
.vs/
.vscode/
.idea/
*.DotSettings.user

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.snupkg
artifacts/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Dd]ebugPublic/
[Rr]eleasePublic/

# Docker
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db